.dropdown-btn {
  display: grid;
  grid-template-columns: 1fr 38px;
  grid-template-areas:
    "link btn"
    "list list";
}

.dropdown-btn > a {
  grid-area: link;
}

.dropdown-btn .btn {
  grid-area: btn;
  margin-top: -1px;
  margin-bottom: -1px;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: $gray-100;
    box-shadow: none;
  }
}

.dropdown-menu .dropdown-menu {
  left: 100%;

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    background-color: $white;
    border-style: none;
    margin-top: -1px;
  }
}

.dropdown-btn .dropdown-menu {
  grid-area: list;
}

.dropdown-menu .menu-item {
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  &:first-child {
    border-top: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  .navbar-light .navbar-nav {
    border-top: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 7px;

    .menu-item {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  .navbar-light .navbar-nav > .menu-item:first-child {
    border-top: none;
  }
}

.navbar-light .navbar-nav.nav li {
  @extend .nav-item;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav.nav a {
  @extend .nav-link;

  color: $dark;
  font-size: 20px;
  font-weight: bold;
  padding: 0.7rem 1rem 0.7rem 1rem;
  white-space: nowrap;
  margin-top: -1px;
  margin-bottom: -1px;

  &:hover {
    color: $white;
    background-color: $danger;
  }
}

.navbar {
  border-top: 1px solid $gray-300;

  .navbar-brand {
    @include media-breakpoint-up(xl) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
}
