.navbar-light .navbar-nav.nav li {
  @extend .nav-item;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav.nav a {
  @extend .nav-link;

  color: $dark;
  font-size: 20px;
  font-weight: bold;
  padding: 0.7rem 1rem 0.7rem 0;

  &:hover {
    color: $white;
    background-color: $danger;
  }
}

.navbar {
  border-top: 1px solid $gray-300;

  .navbar-brand {
    @include media-breakpoint-up(xl) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
}

