.owl {
  &-carousel {
    position: relative;
  }

  &-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}

.owl-carousel .owl-nav button.owl-prev {
  left: -20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFqamp7+/v5+fnl5eXlZWVjo6OmZmZ////FstaowAAAAh0Uk5T/////////wDeg71ZAAAAWUlEQVR42mzQUQ7AIAgD0AbW7f43nhAR1oz489IgKJ4u5KlyYtBJAlNuxTt0elNW3Nlm6LJi6ozuLDiyRSzRes9IOdb+9urNOnfkvzvri/S9+hv6V9n4CjAAI+YHneGw8OoAAAAASUVORK5CYII=") !important;
}

.owl-carousel .owl-nav button.owl-next {
  right: -20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXCAMAAAAMT46wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFqamp7+/v5+fnl5eXlZWVjo6OmZmZ////FstaowAAAAh0Uk5T/////////wDeg71ZAAAAWUlEQVR42mzQUQ7AIAgD0AbW7f43nhAR1oz489IgKJ4u5KlyYtBJAlNuxTt0elNW3Nlm6LJi6ozuLDiyRSzRes9IOdb+9urNOnfkvzvri/S9+hv6V9n4CjAAI+YHneGw8OoAAAAASUVORK5CYII=") !important;
  transform: scale(-1, 1);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: -10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: $carousel-control-icon-width;
  height: $carousel-control-icon-width;

  span {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.certificates__slider {
  .owl-dots {
    display: none;
  }
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -55px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0; // override <ol> default
  // Use the .carousel-control's width as margin so we don't overlay those
  margin-right: $carousel-control-width;
  margin-left: $carousel-control-width;
  list-style: none;

  li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: $carousel-indicator-spacer;
    margin-left: $carousel-indicator-spacer;
    text-indent: -999px;
    cursor: pointer;
    background-color: $gray-400;
    background-clip: padding-box;
    // Use transparent borders to increase the hit area by 10px on top and bottom.
    border-top: $carousel-indicator-hit-area-height solid transparent;
    border-bottom: $carousel-indicator-hit-area-height solid transparent;
    opacity: 1;
    border-radius: 50%;
  }

  .active {
    background-color: #f87780;
  }
}

