.services-cat {
  list-style: none;
  padding: 0 15px;
  margin: 0 auto;
  column-width: 14em;
  column-gap: 2em;
}

.services-cat > li {
  display: block;
  margin-bottom: 15px;

  a {
    &:hover {
      text-decoration: none;
    }

    line-height: 1;
    display: block;
  }
}
