.patients {
  background-color: $gray-100;
  padding: 40px 10px;

  &__li {
    flex-grow: 2;
    font-size: 20px;
    height: 75px;
    line-height: 2;
    position: relative;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      font-size: 18px;
      height: 46px;
      line-height: 1;
    }

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      top: 73px;
      left: 0;
      display: block;
      position: absolute;
      background-color: $danger;

      @media screen and (max-width: map-get($grid-breakpoints, "md")) {
        top: 50px;
      }
    }

    &::before {
      content: "";
      height: 20px;
      width: 20px;
      border-radius: 10px;
      top: 63px;
      right: 0;
      display: block;
      position: absolute;
      background-color: $danger;

      @media screen and (max-width: map-get($grid-breakpoints, "md")) {
        top: 42px;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      height: 146px;
      display: flex;

      @media screen and (max-width: map-get($grid-breakpoints, "md")) {
        height: 100px;
      }
    }

    li:nth-child(even) {
      flex-direction: row-reverse;

      .patients__li {
        justify-content: flex-end;

        &::before {
          right: auto;
          left: 0;
        }
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 146px;
    position: relative;
    color: $danger;
    font-size: 48px;
    font-weight: bold;
    z-index: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 146px;

    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      height: 100px;
      width: 100px;
      flex-basis: 100px;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: inline-block;
      width: 146px;
      height: 73px;
      border-radius: 0 0 73px 73px;
      border-bottom: 2px solid $danger;
      border-left: 2px solid $danger;
      border-right: 2px solid $danger;

      @media screen and (max-width: map-get($grid-breakpoints, "md")) {
        height: 50px;
        width: 100px;
        border-radius: 0 0 50px 50px;
      }
    }

    &::after {
      content: "";
      background: $white;
      position: absolute;
      border-radius: 57px;
      width: 114px;
      height: 114px;
      z-index: -10;
      display: inline-block;

      @media screen and (max-width: map-get($grid-breakpoints, "md")) {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

.container-fix--patients {
  max-width: 610px;
}
