.footer {
  background: $white;
  border-top: 1px solid #dee2e6;
  margin-top: 40px;

  .navbar {
    border-top: none;
    border-bottom: 1px solid $gray-300;
  }
}

.footer .nav li {
  @extend .nav-item;
}

.footer .nav a {
  @extend .nav-link;

  color: $dark;
  font-size: 20px;
  font-weight: bold;
}
