html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $gray-100;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.content {
  font-size: 20px;
  font-family: Ubuntu, Arial, sans-serif;
}

.description-text {
  font-size: 20px;
  font-style: italic;
  color: $gray-500;
  margin: 15px auto;
  text-align: center;
}

.table {
  width: 100%;
  margin: 50px auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

  tbody {
    background-color: $white;
    font-size: 20px;
  }

  td {
    border-top: 1px solid $gray-400;
    min-height: 60px;
    vertical-align: middle;
    padding: 20px 30px;
  }

  th {
    border-bottom: 1px solid $gray-400;
    background-color: #fffbfb;
    color: $danger;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    height: 60px;
  }
}
